<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Restaurant App">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoveEat</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet"> 
</head>
<body>
   <a href="#main-content" class="skip-link">Menuju ke konten</a>
   <app-bar></app-bar> 
   <my-header></my-header>
   <main id="main-content"></main>
   <my-footer></my-footer>
</body>
</html>
