/* responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 40px;
  }
  .nav-mobile {
    display: block;
  }
  .nav-item {
    display: none;
  }
  #restaurant {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #restaurant .restaurant_information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #restaurant .chips {
    width: 200px;
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    margin: 0 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 100px;
  }
  .nav-mobile {
    display: none;
  }
  .nav-item {
    display: flex;
  }
}
